html,body{
    padding: 0;margin: 0;
    width: 100%;height: 100%;
}
.scene{
    width: 100%;
    height: 100%;
    position: absolute;left: 0;top: 0;
    perspective: 500px;
}
.scene .room{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform: translateZ(-400px);
}
.scene .room .panel{
    width: 100%;
    height: 100%;
    position: absolute;left: 0;top: 0;
    transform-style: preserve-3d;
    backface-visibility: visible;
}
.scene .room .panel:nth-child(1) {
background:url(../img/yu.gif);
transform-origin: top;
transform: rotateX(90deg);
box-shadow: 0 0 200px #999 inset;
}
.scene .room .panel:nth-child(2){
    background:url(../img/yu.gif);
    transform-origin: left;
    transform: rotateY(-90deg);
    box-shadow: 0 0 200px #999 inset;
}
.scene .room .panel:nth-child(3){
    background:#e5e5e5 url(../img/yu.gif) center;;
    background-size: contain;
}
.scene .room .panel:nth-child(4){
    background:url(../img/yu.gif);
    transform-origin: right;
    transform: rotateY(90deg);;
}
.scene .room .panel:nth-child(5){
    background: url(../img/qiang1.gif);

    transform-origin: bottom;
    transform: rotateX(-90deg);
}
.scene .room .panel:nth-child(6){
    background: url(../img/yu.gif) ;
    background-size: cover;

}
.left{
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
}
.iconfont{
    float: left;
    width: 100px;height: 100px;
    background: #ccc;
    color: red;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0px 50px 0 50px;
    border-radius: 15px;
    transform: rotateY(180deg);
}
.right{
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
}
.left-a{
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
    display: none;
}
.iconfont{
    float: left;
    width: 100px;height: 100px;
    background: #ccc;
    color: red;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0px 50px 0 50px;
    border-radius: 15px;
}
.right-a{
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
    display: none;
}